

/*body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
} */


/*CSS PARA EL SEGUNDO FORMULARIO*/

#form{
    width: 400px;
    margin: 5vh auto 0 auto;
    padding: 20px;
    background: #28282B;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

#form fa-icon{
    position: relative;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    display: block;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px; /* recien agregado */
}

#form span{
    font-size: 15px;
    color: #ff3860;
    padding-bottom: 10px;
}

.title{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
h2{   

    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

mat-form-field{
    width: 100%;
}

#BtnForm2{
    padding: 25px;
    margin-top: 20px;
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #191970, #a409c3c7,#d40f3a);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

form #BtnForm2[disabled]{
    opacity: 0.3;
    cursor: not-allowed;
}


/* MENSAJE AL REGISTRAR O NO REGISTRAR */

.message{
    display: grid;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    border: none;
    grid-template-columns: 2fr;
    color: white;
    text-align: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);

}

.success {
    background-color: #09c372;
    width: 24%;
    margin: 0vh auto 0 auto;
    font-size: 20px;


}

.failure {
    background-color: #ff3860;
    width: 24%;
    margin: 0vh auto 0 auto;
    font-size: 20px;
    color: #FFFFFF;


}