<body>
    <mat-toolbar color="warn">
        <span> Notas de Credito</span>
    </mat-toolbar>
    <mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label> Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off"/>
        </mat-form-field>
        <button (click)="openAddEditCredito()" mat-raised-button color="accent">Agregar</button>
    <mat-progress-bar *ngIf = "loading" mode="indeterminate"></mat-progress-bar>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="creditoId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No Boleta</th>
        <td mat-cell *matCellDef="let element">{{ element.creditoId }}</td>
    </ng-container>

    
    <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.client }}</td>
    </ng-container>

    <ng-container matColumnDef="agente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No Agente</th>
        <td mat-cell *matCellDef="let element">{{ element.agente }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.status | titlecase }}</td>
    </ng-container>
    
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Folder</th>
        <td mat-cell *matCellDef="let element">{{ element.location | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.description  }}</td>
    </ng-container>.

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <!--  boton de editar -->
          <mat-icon (click)="openAddEditCredito(element._id)" class="btnEdit" matTooltip="Editar">edit</mat-icon>
          <!--  boton de borrar -->
          <mat-icon (click)="addDeleteCredito(element._id)" class="btnDelete"
            matTooltip="Eliminar">delete</mat-icon>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card-content>
</mat-card>
</body>